@media only screen and (max-width: 767px) {
    .presentation  {
        flex-direction: row;
        font-size: 12px;
        width: 170px;
    }

    .espacebottomli {
        padding-bottom: 3px;
    }

    li{
         font-size: 9px;
    }

    .photo img{
        width: 100px;
        height: 100px;
    }

    .contact ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
    }

    .corpus {
        border-left: solid 1px;
        width: auto;
    }

    .formation, .exp {
        flex-direction: column;
    }

    .formation img, .exp img {
            display: none;
     }

    .annee, h3, h4 {
        text-align: center;
    }

    .photo {
        display: none;
    }

    body{
        font-size: 0.7em;
    }

    #iconeadaptationresponsive{
        padding: 0px 0px 0px 0px;
    }

    .loisir img {
        display: flex;
        flex-direction: row;
    }

    .CV {
        flex-direction: column-reverse;
    }

    .presentation{
        width: auto;
    }
    
    .apropos p{
        font-size: 2.3vw;
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media only screen and (max-width: 380px){

    .corpus{
        width: auto;
    }

    .presentation{
        width: auto;
        flex-direction: row;
    }

    .presentation footer{
        display: none;
    } 

    .CV{
        flex-direction: column-reverse;
    }
    .presentation, .corpus {
        border: solid 1px;
        box-shadow: none;
    }

    .photo{
        display: none;
    }
}
